PORT=3000
NODE_ENV=development

# JWT Secrets (Cần thay đổi bằng chuỗi ngẫu nhiên dài)
JWT_SECRET=your_access_token_secret_here
JWT_REFRESH_SECRET=your_refresh_token_secret_here

SUPER_ADMIN_PASSWORD=password123

# Cổng 6380 được khuyên dùng nếu 6379 đã bị chiếm dụng
REDIS_URL=redis://127.0.0.1:6380
GEMINI_API_KEY=your_gemini_api_key

FIREBASE_API_KEY=AIzaSyA6xwede8qJ3TdmdS0Aa9NNphUkH5hBAjs
FIREBASE_AUTH_DOMAIN=gen-lang-client-0123668078.firebaseapp.com
FIREBASE_PROJECT_ID=gen-lang-client-0123668078
FIREBASE_STORAGE_BUCKET=gen-lang-client-0123668078.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=331651176795
FIREBASE_APP_ID=1:331651176795:web:21b1df0be91fb4e7cc227e

DISABLE_HMR=false
DEFAULT_TENANT_ID=tenant_1